@import '~antd/dist/antd.css'; 
@import url('https://fonts.googleapis.com/css?family=Roboto');


html {
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #1f4a87;
  margin: 0;
}

#root {
  height: 100%;
}

@font-face {
  font-family: 'NoTime';
  src: local('NoTime'), url('./assets/fonts/NoTime.ttf') format('truetype');
}